body{
  background-color: rgba(155, 77, 228, 0.836);
}

.formulario{
  border: 10;
  border-color: black;
  border-radius: 20px;

}
.formulario label{
  color: black;
  font-size: 18px;
}
.formulario .btn_enviar{
  color: black;
  width: 100px;

}